/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './example';

@import './base/common';
@import './base/root-colors';

@import './header';
@import './search-bar';
@import './set-of-cards';
@import './footer';
@import './modal';
