{{!-- <ul class="set-of-cards__container">
{{#each this}}
<li class="set-of-cards__link">
  <img class="set-of-cards__img" src={{}} alt={{}}>
  <h2 class="set-of-cards__title">{{}}</h2>
  <p class="set-of-cards__date-of-incident"></p>>{{}}</p>
  <a class="set-of-cards__location" href="">{{}}</a>
</li>
{{/each}}
</ul> --}}
