<div class="form-wrapper">
  <!-- <form class="search-form" id="search-form"> -->
  <div class="input">
    <input
      class="input-field"
      type="text"
      name="query"
      autocomplete="off"
      placeholder="Start searching"
    />
  </div>
  <!-- </form> -->

  <!-- <form action="formdata" method="post" name="form1"> -->
  <p>
    <select class="country-input" id="js-country-input" name="list1">
      <option selected>all country</option>
    </select>
  </p>
  <!-- </form> -->
</div>
