<!-- Модальное окно заказать услугу -->
<div class="">
    <div class="team-modal team-backdrop is-hidden " data-modal>
        <!-- <button data-team-modal-close class="modal__button-close"></button> -->
        <ul class="team-list team-container" data-slick>
            <li class="team-list_member ">
                <div class="team-list_div">

                    <img class="team-member_image" src="/images/team-members/natasha.jpg" alt="" width="360">
                    <div class="team-member_info">
                        <h2 class="team-member_name">Наталья Москаленко</h2>
                        <span class="team-member-details">Scrum Master</span>
                        <a class="team-member_link" href=""></a>
                    </div>

                </div>
            </li>
            <li class="team-list_member ">
                <div class="team-list_div">

                    <img class="team-member_image" src="/images/team-members/natasha.jpg" alt="" width="360">
                    <div class="team-member_info">
                        <h2 class="team-member_name">Наталья Москаленко</h2>
                        <span class="team-member-details">Scrum Master</span>
                        <a class="team-member_link" href=""></a>
                    </div>

                </div>
            </li>
            <li class="team-list_member ">
                <div class="team-list_div">

                    <img class="team-member_image" src="/images/team-members/natasha.jpg" alt="" width="360">
                    <div class="team-member_info">
                        <h2 class="team-member_name">Наталья Москаленко</h2>
                        <span class="team-member-details">Scrum Master</span>
                        <a class="team-member_link" href=""></a>
                    </div>

                </div>
            </li>
            <li class="team-list_member ">
                <div class="team-list_div">

                    <img class="team-member_image" src="/images/team-members/natasha.jpg" alt="" width="360">
                    <div class="team-member_info">
                        <h2 class="team-member_name">Наталья Москаленко</h2>
                        <span class="team-member-details">Scrum Master</span>
                        <a class="team-member_link" href=""></a>
                    </div>

                </div>
            </li>
            <li class="team-list_member ">
                <div class="team-list_div">

                    <img class="team-member_image" src="/images/team-members/natasha.jpg" alt="" width="360">
                    <div class="team-member_info">
                        <h2 class="team-member_name">Наталья Москаленко</h2>
                        <span class="team-member-details">Scrum Master</span>
                        <a class="team-member_link" href=""></a>
                    </div>

                </div>
            </li>
            <li class="team-list_member ">
                <div class="team-list_div">

                    <img class="team-member_image" src="/images/team-members/natasha.jpg" alt="" width="360">
                    <div class="team-member_info">
                        <h2 class="team-member_name">Наталья Москаленко</h2>
                        <span class="team-member-details">Scrum Master</span>
                        <a class="team-member_link" href=""></a>
                    </div>

                </div>
            </li>
            <li class="team-list_member ">
                <div class="team-list_div">

                    <img class="team-member_image" src="/images/team-members/natasha.jpg" alt="" width="360">
                    <div class="team-member_info">
                        <h2 class="team-member_name">Наталья Москаленко</h2>
                        <span class="team-member-details">Scrum Master</span>
                        <a class="team-member_link" href=""></a>
                    </div>

                </div>
            </li>
            <li class="team-list_member ">
                <div class="team-list_div">

                    <img class="team-member_image" src="/images/team-members/natasha.jpg" alt="" width="360">
                    <div class="team-member_info">
                        <h2 class="team-member_name">Наталья Москаленко</h2>
                        <span class="team-member-details">Scrum Master</span>
                        <a class="team-member_link" href=""></a>
                    </div>

                </div>
            </li>
            <li class="team-list_member ">
                <div class="team-list_div">

                    <img class="team-member_image" src="/images/team-members/natasha.jpg" alt="" width="360">
                    <div class="team-member_info">
                        <h2 class="team-member_name">Наталья Москаленко</h2>
                        <span class="team-member-details">Scrum Master</span>
                        <a class="team-member_link" href=""></a>
                    </div>

                </div>
            </li>

        </ul>
    </div>
</div>