<div class="team-modal team-backdrop is-hidden " data-modal>
    <h2 class="team-member_header"><a class="goit-link" href="https://goit.ua/" target="_blanc"><span
                class="half-title">GO</span><span class="half-title-orange">IT</span></a>
        Students</h2>
    <ul class="team-list team-container" data-slick>
        <li class="team-list_member ">
            <div class="team-list_div">

                <img class="team-member_image" src="/images/team-members/Mariana Lapchuk.jpg" alt="" width="250">
                <div class="team-member_info">
                    <h3 class="team-member_name">Mariana Lapcuk</h3>
                    <span class="team-member-details">Team Leader</span>
                    <a class="team-member_link" href=""></a>
                </div>

            </div>
        </li>
        <li class="team-list_member ">
            <div class="team-list_div">

                <img class="team-member_image" src="/images/team-members/tania_chepovaya.jpg" alt="" width="250"
                    width="360">
                <div class="team-member_info">
                    <h3 class="team-member_name">Tatiana Chepovaya</h3>
                    <span class="team-member-details">Scrum Master</span>
                    <a class="team-member_link" href=""></a>
                </div>

            </div>
        </li>
        <li class="team-list_member ">
            <div class="team-list_div">

                <img class="team-member_image" src="/images/team-members/Slava Poprockiy.jpg" alt="" width="250"
                    width="360">
                <div class="team-member_info">
                    <h3 class="team-member_name">Slava Poprockiy</h3>
                    <span class="team-member-details">Team Member</span>
                    <a class="team-member_link" href=""></a>
                </div>

            </div>
        </li>
        <li class="team-list_member ">
            <div class="team-list_div">

                <img class="team-member_image" src="/images/team-members/natasha.jpg" alt="" width="250" width="360">
                <div class="team-member_info">
                    <h3 class="team-member_name">Natalia Maskalenko</h3>
                    <span class="team-member-details">Team Member</span>
                    <a class="team-member_link" href=""></a>
                </div>

            </div>
        </li>
        <li class="team-list_member ">
            <div class="team-list_div">

                <img class="team-member_image" src="/images/team-members/dima.jpg" alt="" width="250" width="360">
                <div class="team-member_info">
                    <h3 class="team-member_name">Dmytro Semeruk</h3>
                    <span class="team-member-details">Team Member</span>
                    <a class="team-member_link" href=""></a>
                </div>

            </div>
        </li>
        <li class="team-list_member ">
            <div class="team-list_div">

                <img class="team-member_image" src="/images/team-members/olia_klim.jpg" alt="" width="250" width="360">
                <div class="team-member_info">
                    <h3 class="team-member_name">Olga Klim</h3>
                    <span class="team-member-details">Team Member</span>
                    <a class="team-member_link" href=""></a>
                </div>

            </div>
        </li>
        <li class="team-list_member ">
            <div class="team-list_div">

                <img class="team-member_image" src="/images/team-members/Sasha Dymytriuk.jpg" alt="" width="250"
                    width="360">
                <div class="team-member_info">
                    <h3 class="team-member_name">Oleksandr Dymytriuk</h3>
                    <span class="team-member-details">Team Member</span>
                    <a class="team-member_link" href=""></a>
                </div>

            </div>
        </li>
        <li class="team-list_member ">
            <div class="team-list_div">

                <img class="team-member_image" src="/images/team-members/Sergej Bubenko.jpg" alt="" width="250"
                    width="360">
                <div class="team-member_info">
                    <h3 class="team-member_name">Sergej Bubenko</h3>
                    <span class="team-member-details">Team Member</span>
                    <a class="team-member_link" href=""></a>
                </div>

            </div>
        </li>
        <li class="team-list_member ">
            <div class="team-list_div">

                <img class="team-member_image" src="/images/team-members/andrej.jpg" alt="" width="250" width=" 360">
                <div class="team-member_info">
                    <h3 class="team-member_name">Andrej Riabets</h3>
                    <span class="team-member-details">Team Member</span>
                    <a class="team-member_link" href=""></a>
                </div>

            </div>
        </li>

    </ul>
</div>